In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("dataset/numericCars.csv",index_col=0)
df.head()

   buying  maint  doors  persons  lug_boot  safety  quality
0       3      3      2        2         2       1        2
1       3      3      2        2         2       2        2
2       3      3      2        2         2       0        2
3       3      3      2        2         1       1        2
4       3      3      2        2         1       2        2

In [48]:
# df = df.drop(['doors'],axis=1)
df.tail()

      buying  maint  doors  persons  lug_boot  safety  quality
1723       1      1      5        6         1       2        1
1724       1      1      5        6         1       0        3
1725       1      1      5        6         0       1        2
1726       1      1      5        6         0       2        1
1727       1      1      5        6         0       0        3

In [49]:
X = df.drop(['quality'],axis=1)
y = df['quality']

In [50]:
df['quality'].unique()

array([2, 0, 3, 1], dtype=int64)

In [51]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.25 , random_state=1000)

In [52]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [53]:
modelPred = model.predict(X_test)
# print(modelPred)
# print(y_test)

In [54]:
from sklearn.metrics import accuracy_score
print(f'Accuracy : {accuracy_score(modelPred,y_test)}')

Accuracy : 0.9652777777777778

In [ ]:
# Decision Tree Model Generally Overfits and Normally always have high accuracy