In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("dataset/numericCars.csv")
df.head()

   Unnamed: 0  buying  maint  doors  persons  lug_boot  safety  quality
0           0       3      3      2        2         2       1        2
1           1       3      3      2        2         2       2        2
2           2       3      3      2        2         2       0        2
3           3       3      3      2        2         1       1        2
4           4       3      3      2        2         1       2        2

In [58]:
# df = df.drop(['doors'],axis=1)
df.tail()

      Unnamed: 0  buying  maint  doors  persons  lug_boot  safety  quality
1723        1723       1      1      5        6         1       2        1
1724        1724       1      1      5        6         1       0        3
1725        1725       1      1      5        6         0       1        2
1726        1726       1      1      5        6         0       2        1
1727        1727       1      1      5        6         0       0        3

In [59]:
X = df.drop(['quality'],axis=1)
y = df['quality']

In [64]:
df['quality'].unique()

array([2, 0, 3, 1], dtype=int64)

In [60]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.33 , random_state=1)

In [61]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [62]:
modelPred = model.predict(X_test)
# print(modelPred)
# print(y_test)

In [63]:
from sklearn.metrics import accuracy_score
print(f'Accuracy : {accuracy_score(modelPred,y_test)}')

Accuracy : 0.723292469352014