In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("dataset/numericCars.csv")
df.head()

   Unnamed: 0  buying  maint  doors  persons  lug_boot  safety  quality
0           0       3      3      2        2         2       1        2
1           1       3      3      2        2         2       2        2
2           2       3      3      2        2         2       0        2
3           3       3      3      2        2         1       1        2
4           4       3      3      2        2         1       2        2

In [18]:
# df = df.drop(['doors'],axis=1)
df.tail()

      Unnamed: 0  buying  maint  persons  lug_boot  safety  quality
1723        1723       1      1        6         1       2        1
1724        1724       1      1        6         1       0        3
1725        1725       1      1        6         0       1        2
1726        1726       1      1        6         0       2        1
1727        1727       1      1        6         0       0        3

In [19]:
X = df.drop(['quality'],axis=1)
y = df['quality']

In [20]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.17 , random_state=35)

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
modelPred = model.predict(X_test)
print(modelPred)
print(y_test)

[2 2 2 2 0 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 2 2
 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 0 2 2 2 2 3 0 2
 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0
 0 0 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 0
 2 0 2 0 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 3 2 2
 2 2 0 2 2 2 2 2 2 2 2 0 2 2 2 2 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 0 2 2 2 0 2 0 2 2 0 2 2
 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 2 2 0 2 2 2 2 0 2 2 2 2 0 2 2 0 2]
69      2
756     2
1220    2
1525    0
1104    2
440     2
513     2
1282    1
479     2
1149    2
562     2
76      2
727     0
1420    0
431     0
1151    3
323     0
116     2
223     2
416     0
335     0
961     0
227     0
585     2
1135    2
1501    0
1655    2
143     2
1462    2
1466    2
       ..
1609    1
648     2
1085    2
1690    1
893     2
493     2
725     0
1014    2
398     0
1706    2
841     2
422     0
1592    3
118     2
1720    0
1699    1
117     2
1648    2
987     2
531     2
728     0
114     2
934     0
1561    1
717     2
834     2
1693    0
657     2
917     0
1202    1
Name: quality, Length: 294, dtype: int64

In [23]:
from sklearn.metrics import accuracy_score
print(f'Accuracy : {accuracy_score(modelPred,y_test)}')

Accuracy : 0.6700680272108843